.main {
    margin: auto;
    width: 80%;
    background-color: var(--dark-color);
    overflow: hidden;
    padding: 1.5em 1em;
    border-radius: 1em;

    &--signin {
        width: 90%;
        max-width: 500px;
        padding: 2em 1em;
    }

    span {
        color: var(--primary-color);
    }

    &__title {
        text-align: center;
        font-size: 2.3rem;

        &--productForm {
            font-size: 1.5rem;
        }
    }

    &__paragraph {
        text-align: center;
        margin: .3em 0;

        a {
            color: var(--primary-color);
        }
    }

    &__signinForm {
        display: grid;
        justify-items: center;
        gap: 1.5em;
        padding: 1em 0;
    }

    &__productForm {
        &__topContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &__leftContainer {
            display: grid;
            justify-items: center;
            padding: 1em 0;
            position: relative;

            &:hover &__image {
                opacity: 0.5;
            }

            &:hover &__icon {
                opacity: 0.8;
            }

            &__image {
                max-height: 300px;
                width: 90%;
                max-width: 300px;
                background-color: #ddd;
                border-radius: 5px;
            }

            &__upload {
                position: absolute;
                top: 4.8%;
                height: 90.5%;
                width: 90%;
                max-width: 300px;
                border-radius: 5px;
                display: inline-block;
                cursor: pointer;
            }

            &__icon {
                font-size: 2rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #ddd;
                padding: 1em;
                opacity: 0;
            }
        }

        &__rightContainer {
            display: grid;
            grid-template-rows: 36.78px 36.78px 1fr;
            justify-items: center;
            gap: 1.5em;
            padding: 1em 0;
        }

        &__bottomContainer {
            display: flex;
            justify-content: space-between;
            padding: 1rem 2rem 0 2rem;
        }

        @media (max-width: 768px) {
            &__topContainer {
                display: grid;
                grid-template-columns: 1fr;
            }

            &__leftContainer {
                width: 180px;
                height: 180px;
                padding: 0;
                margin: auto;

                &__image {
                    width: 100%;
                }

                &__upload {
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }
            }

            &__bottomContainer {
                padding-top: 0;
                justify-content: space-around;
            }
        }

        @media (max-height: 768px) {
            &__leftContainer {
                &__image {
                    height: 100%;
                }
            }
        }
    }

    &__input {
        width: 90%;
        max-width: 300px;
        outline: none;
        border-radius: .6em;

        &--file {
            cursor: pointer;
        }
    }

    &__input--send {
        width: 80%;
        max-width: 100px;
    }

    &__input--cancel {
        background-color: var(--danger-color);
        width: 80%;
        max-width: 100px;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 1em;

        &--signin {
            padding: 2em 1em;
        }

        &__title--productForm {
            padding-bottom: 0.5rem;
        }
    }
}