html,
body {
    font-family: var(--font-poppins);
    background-color: var(--bg-color);
    color: #ddd;
}

a {
    color: #ddd;
    text-decoration: none;

    &:hover {
        color: var(--primary-color);
    }
}

input,
textarea {
    font-family: var(--font-poppins);
    border: 2px solid #ddd;
    background-color: #ddd;
    padding: 0.4rem 1.5rem;
    resize: none;

    &:focus {
        border: 2px solid var(--primary-color);
    }
}

input {
    height: 36.78px;
}

input[type="file"] {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 400;
    font-family: var(--font-poppins), sans-serif;
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        transform: scale(0.98)
    }
}

.swal2-popup {
    border: 1px solid var(--primary-color);

    .swal2-icon.swal2-warning {
        font-size: .7rem !important;
        color: var(--danger-color);
        border-color: var(--danger-color);
    }

    .swal2-icon.swal2-question {
        font-size: .7rem !important;
        color: var(--primary-color);
        border-color: var(--primary-color);
    }

    button {
        font-size: .9rem !important;
        border-radius: .6rem !important;
        padding: 0.5rem 1rem !important;
    }
    
}
